.home--container {
  width: 100%;
}

.all--projects--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


.project--container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 35rem;
  min-width: 400px;
  cursor: pointer;
}
 
.text--overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  transition: opacity 0.3s;
  z-index: 2;
  pointer-events: none; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);;
}

.project--container:hover .text--overlay {
  opacity: 1;
}

.project--cover {
  transition: filter 0.3s;
  min-height: 376px;
}

.project--cover:hover {
  filter: brightness(0.5);
}