.labs--page--container {
  width: 100%;
}

.labs--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.lab--images--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.lab--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.video--source {
  max-width: 600px;
  max-height: 337px;
}

.lab--image {
  max-width: 400px;
  max-height: 200px;
}
